<h1>Add a new cd to @Model["artist"].GetName()</h1>
<form action='/cds' method='post'>
  <input id='artist-id' name='artist-id' type='hidden' value='@Model["artist"].GetId()'>
  <label for='cd-albumName'>Album Name: </label>
  <input id='cd-albumName' name='cd-albumName' type='text'>
  <label for="cd-year">Year: </label>
  <input id="cd-year" name="cd-year" type="number">
  <button type='submit'>Add CD!</button>
</form>
